---

port: 4000
host: 0.0.0.0
safe: false


### site serving configuration ###
exclude: [CNAME, README.md, .gitignore]
permalink: /:title ## disables post output
timezone: null
lsi: false
markdown: kramdown

### content configuration ###
### content configuration ###
title:       "C10H14N2"
keywords:    "c10h14n2, c10h14n2movie, c10h14n2thefilm,  kannada, lucia, pawan kumar, kannada movie"
description: "c10h14n2: a new Kannada movie from Pawan Kumar is coming up, pre order the movie"
favicon:     "favicon.ico"
touch_icon:  "img/apple-icon-precomposed.png"
google_analytics_key: UA-56627822-1 ## put YOUR key here to enable tracking! (blank to disable)


#optimization
#compress.html
compress_html:
  clippings: [html,div, p, ul, td, h1, h2, h3, h4,link, meta, footer, nav, img, header, hr, br, head, style, li, ul, ol, time, main, script, title]
  comments: ["<!-- ", " -->"]
  endings: [all]
  ignore:
    envs: [local]
  blanklines: false
  profile: false
  startings: []
  
  

### template colors, used site-wide via css ###
colors:
  black:     '#111111'
  white:     '#f8f8f8'
  blue:      '#49a7e9'
  green:     '#9bcf2f'
  purple:    '#c869bf'
  orange:    '#fab125'
  turquoise: '#0fbfcf'

kramdown:
  auto_ids:  false

